# Topics : Intro, Nos and Boolean

## Introduction

Below is a Code cell, where you write your code that you want to execute.

\#  the hash is used to write comments, these are single line comments.

''' '''  is used to write multi line comment

In [1]:
# Just Press the play button that you see on the left side of this cell to run the command.
print("Welcome to Programming for Analytics Class!")

Welcome to Programming for Analytics Class!

Miss M is a bookseller who works part-time at the university bookstore. Her wage is $15 per hour. She wants to buy a cell phone worth $800. How many hours does she need to work in order to buy this cell phone?

In [2]:
# execute this code
wage = 15

In [3]:
# hello again
# execute this code to find out how many hours will she need to earn the money to buy her phone
n =  800/wage
print(f'No. of Hours Miss M needs to work: {n}')

No. of Hours Miss M needs to work: 53.333333333333336

How many hours would Miss M need if her wage was $20 per hour?

In [4]:
#execute this cell and the execute the cell that has the comment 'hello again'
wage = 20

*You can see the answer change when we assign a new value to the variable wage. Notice that on the left of every code cell, there is a number after executing. This number indicates the order in which you have executed your code. You can experiment with the cells using different wages and execute the cell with the formula to understand how the value stored in the variable works and how the subscript ordering changes.*

**This is a markdown cell** - you can use this cell to write comments, heading, explations. You will not be able to execute your code here. (You can double click on this to edit it's content). Every editor has differnt options in markdown so read the editors manual to see how markdowns work.

## Numbers

### Arithmetic Operations

In [5]:
# Addition
8 + 9

17

In [6]:
# Substraction
8 - 9

-1

In [7]:
# Multiplication
8 * 9

72

In [8]:
# Division
16 / 5

3.2

In [9]:
# Modular Division 
25 % 4

1

### Mathematical Expressions

In [26]:
# Arithmetic Expressions
arithmeticExpr = 3 + 4 * 5 

#Algebraic Expressions
y = 5
z = 6
x = 3*z+(2/y)-z

# Exponential Expressions
exp = 2**3

# Complex Nos.
c = complex(2,3) #2+3j


print(f'Value of Arithemetic Expression: {arithmeticExpr}')
print(f'Value of Algebraic Expression: {x}')
print(f'Value of Exponent 2 to the power 3: {exp}')
print(f' ')
print(f'Value of Complex Expression : {c}')
print(f'Real part of 2+3j: {c.real}')
print(f'Imaginary part of 2+3j: {c.imag}')

Value of Arithemetic Expression: 23
Value of Algebraic Expression: 12.399999999999999
Value of Exponent 2 to the power 3: 8

Value of Complex Expression : (2+3j)
Real part of 2+3j: 2.0
Imaginary part of 2+3j: 3.0

### Data Types of the varaibles

In [28]:
# Let's Understand the data types of these variables
# In-order to understand the data type of the variable we use the function type()

u = 42
pi = 3.14
s = 'cheesecake'


print(f'Type of Variable u: {type(u)}')
print(f'Type of Variable pi : {type(pi)}')
print(f'Type of Variable s: {type(s)}')
print(f'Type of Variable c: {type(c)}')

Type of Variable u: <class 'int'>
Type of Variable pi : <class 'float'>
Type of Variable s: <class 'str'>
Type of Variable c: <class 'complex'>

### Logarithms

In [29]:
# to use logs you need to include a library called math
import math as m

z = 3

print(f'The log of {z} is :{m.log(z)}')

The log of 3 is :1.0986122886681098

## Booleans