# Basic data types
#### Yufeng Huang
#### Associate Professor of Marketing, Simon Business School
#### July 23 and 25, 2024

## Introduction
- Yesterday we introduced the concept of variables

- Miss M is a bookseller who works part-time at the university bookstore. Her wage is $15 per hour. 
She wants to buy a cell phone worth $800. How many hours does she need to work in order to buy this cell phone?

In [476]:
# Miss M's wage as a variable `wage`
wage = 15

In [477]:
# how many hours will she need to earn the money to buy her phone? Declare variable `hours`
hours = 800/wage
print(f'No. of Hours Miss M needs to work: {hours: .2f}')

No. of Hours Miss M needs to work:  53.33

- Recall that we use an f-string
    - new today: we're showing two digits by using `{n: .2f}` (more on this later)

- Now, how many hours would Miss M need if her wage was $20 per hour?

In [478]:
# execute this cell and then execute the cell that has the comment 'hello again'
wage = 20

# now re-calculate wage and print hours again
hours = 800/wage
print(f'No. of Hours Miss M needs to work: {hours: .2f}')

No. of Hours Miss M needs to work:  40.00

## Today -- most important data types and structures in base Python
- Four data types
    1. boolean
    2. integer
    3. float
    4. string
    - typical operations on each of the types
    - conversion between data types

- Five data structures
    1. lists
    2. strings (technically a data type, but I'm putting it here for a reason)
    3. dictionary
    4. tuples
    5. sets

## Numbers (integer and float)

In [479]:
# variable a comes from adding two integers
a = 3 + 5

# type of the variable
print(f"the value of a is {a}, and the data type of a is {type(a)}")

the value of a is 8, and the data type of a is <class 'int'>

In [480]:
# variable b from dividing one number by another
b = 3 / 5

# type of the variable
print(f"the value of b is {b}, and the data type of b is {type(b)}")

the value of b is 0.6, and the data type of b is <class 'float'>

- `type()` returns the type of a variable or data structure
- The second case, 0.6 is not an integer, so b is a `float` (real number) instead

In [481]:
# Arithmetic Expressions
a = 3 + 4 * 5 
b = (3 + 4) * 5

# note that order of operation still follows math class
print(a, b)

23 35

In [482]:
# Side note: you can be more elaborate in the print step
print(f"a = {a}")
print(f"b = {b}")

# but I use the following for simplicity
print(a, b)

a = 23
b = 35
23 35

In [483]:
# Algebraic Expressions involving variables
x = 5
y = 6
z = 3*y + (2/x) - y

# print
print(x, y, z)

5 6 12.399999999999999

In [484]:
# Power, log, modulo, and other math functions

# power
a = 2 ** 3   

# log
import math as m    # last time we imported math and called it "math", this time we call this module "m"
b = m.log(a)

# round (two decimal points)
c = round(b, 2)

# modulous (remainder after a division)
d = c*10 % 5

print(f'a = {a}')
print(f'b = {b}')
print(f'c = {c}')
print(f'd = {d}')   # sometimes you'll see the displayed number has "inaccuracy." This is because float numbers are never perfectly accurate

a = 8
b = 2.0794415416798357
c = 2.08
d = 0.8000000000000007

In [485]:
# How to declare float?
a = 2
print(f"the type of a = {a} is {type(a)}")

b = 2.
print(f"the type of b = {b} is {type(b)}")

the type of a = 2 is <class 'int'>
the type of b = 2.0 is <class 'float'>

## Boolean (True/False)
- Logical values (binary, `True` or `False`) are stored as booleans
    - note: first letter capitalize
- Typical operation is and (`&` or `and`), or (`|` or `or`), not (`not`)
    - next week, we'll know that `&` and `|` are bitwise operators, meaning that they can apply onto a whole range of values at the same time

In [486]:
# Booleans come from true or false statements
x = 2
print(x > 1)    # is x greater than 1? Yes. Then the value is `True`

True

In [487]:
# More elaborately
print(f"the value of `x > 1` is {x > 1}, and the type is {type(x > 1)}")

the value of `x > 1` is True, and the type is <class 'bool'>

In [488]:
# Boolean operators 
x = 2
print(f"x > 1 has the value {x > 1}")

# two conditions
print(f"is x greater than 1 and smaller than or equal to 3? The answer is {x > 1 and x <= 3}")  # can be replaced by &

# not
print(f"the opposite of x > 0 is {not x > 0}")

x > 1 has the value True
is x greater than 1 and smaller than or equal to 3? The answer is True
the opposite of x > 0 is False

- More on boolean operators
    - we know greater than `>` and greater than or equal to `>=`
    - we should also know equal to `==` and not equal to `!=`
- In particular
    - `==` represents boolean statement (check if two things are equal)
    - whereas `=` represents assignment of value to a variale

In [489]:
a = 2
print(a > 2)  
print(a >= 2)
print(a == 1)   # equal (as a statement)
print(a != 1)   # not equal

False
True
False
True

In [490]:
# E.g., try this
a = 1

In [491]:
# Now print a, what happened?
print(a)

1

## Strings
- Strings are a sequence of characters, such as `"Yufeng Huang"` consists of `"Y"`, `"u"`, and so on
- Because it is a sequence, it shares properties with some data structures we'll be looking at
- I will explain the sequence property later

In [492]:
# Create a string 
s = "Hello world"
print(s)

Hello world

In [493]:
# Create a string that "looks like" a number
six = "6"

# Is that a number?
print(six == 6)

False

 ## Conversion between data types
 - Two types of conversion
    1. explicit conversion based on user input, or "type casting"
    2. implicit conversion based on context, or "coersion"

In [494]:
# explicit type conversion (type casting)
a = 1.      # a float
b = int(a)
print(f"the type of {b} is {type(b)}")

the type of 1 is <class 'int'>

In [495]:
# implicit type conversion (coersion)
c = b / 3   # has to be a float, so coerce c as is
print(f"the type of {c} is {type(c)}")

the type of 0.3333333333333333 is <class 'float'>

In [496]:
# convert number and booleans
a = 1.
print(a)    
d = bool(a)  # explicit
print(d)

# then compute d + 1
e = d + 1
print(e)    # integer, because we coerced d into the more general data type, integer

1.0
True
2

In [497]:
# explicitly convert numbers, booleans, and strings
a = True
b = 1
c = 1.
print(str(a), str(b), str(c))

# no implicit conversion between numeric data types and strings
# str(a) + 1  # bug; error code "can only concatenate str (not "int") to str"

True 1 1.0

## Summary for now
- Data types: bool, int, float, str
    - bool: boolean operators (`&`, `not`, etc.)
    - int and float: math operators
    - str: we'll largely talk later, but remember that str cannot operate directly with other data types

- Conversion: explicit or implicit

- Next: understand basic data structures -- **lists**, **strings**, tuples, dictionaries, sets

## Lists

- Lists are ordered collections of *items* (or *elements*) that are *mutable*, meaning they can be changed after creation

- Because they hold items, need an index system for us to find items in them
    - the important concept of indexing, slicing, and concatenation
    - because strings are sequences, it shares the same rule of indexing, slicing, and concatenation

- Because lists are mutable, we can modify a list, including:
    - add elements to the list
    - remove elements from list
    - replace a particular element with another element

- Lists can hold items of any data type, including other lists

### Creating a List
- Use brackets `[]` to create a list

In [498]:
# Creating a list
months_in_year = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November"]
months_in_year

['January',
 'February',
 'March',
 'April',
 'May',
 'June',
 'July',
 'August',
 'September',
 'October',
 'November']

### Indexing
- Each element is associated with an index

- In Python, all indices count from zero
    - so 0, 1, 2, 3, and so on
    - negative index refer to counting from the last, and it starts with -1

- Use single bracket with index to get a single element

- The function `len` returns the number of elements in the list

In [499]:
# First month of the year
print(months_in_year[0])

# Sixth month of the year?

# Last month of the year?

January

### Concatenation
- Find that we're missing December, what to do?

- Concatenation refers to the combination of two objects (here, two lists) using a plus operator

In [500]:
# Create a list `list_december` and concatenate it to the back of `months_in_year`
    # note: does not concatenate strings ("JanuaryDecember")
list_december = ["December"]
months_in_year = months_in_year + list_december
months_in_year

['January',
 'February',
 'March',
 'April',
 'May',
 'June',
 'July',
 'August',
 'September',
 'October',
 'November',
 'December']

### Slicing
- Slicing refers to indexing using a range of indices

- For example
    - find the first three elements
    - find even-numbered elements
    - ...

- Syntax is `my_list[start:stop:step]`
    - the resulting list includes the `start` position but stops before the `stop` position
    - and in which one can leave arguments empty

In [501]:
months_in_first_quarter = months_in_year[0:3]   # start at 0 (inclusive), stop at 3 (not inclusive), step is 1
months_in_first_quarter

['January', 'February', 'March']

In [502]:
even_months = months_in_year[1::2] 
even_months

['February', 'April', 'June', 'August', 'October', 'December']

In [503]:
reverse_order_of_months = months_in_year[-1::-1]     
reverse_order_of_months

# leave middle argument empty to go all the way to the first element
    # contrast: months_in_year[-1:0:-1]

['December',
 'November',
 'October',
 'September',
 'August',
 'July',
 'June',
 'May',
 'April',
 'March',
 'February',
 'January']

In [504]:
# Length of the list -- use function `len`
len(months_in_year)

12

### Adding and removing items from a list

In [505]:
# Let's Create a shopping list
shopping = []   # this creates an empty list whose name is shopping

### Append elements - adding items to list
- Use the method `append` to add items to the end of the list
    - side note: What is a method? You can loosely see it as a "function" in the domain of lists. We'll get to this tomorrow.
    - to call a method, connect it with the object (`shopping`) using the dot operator (`.`), and use parenthesis to indicate inputs to the method.

In [506]:
# add some elements to this list - to do this we use append() which will add items to the end of the list
shopping.append("Yogurt")
shopping.append("Tomato")
shopping.append("Onion")
shopping.append("Garlic")
shopping.append("Detergent")

# See the shopping list
shopping

['Yogurt', 'Tomato', 'Onion', 'Garlic', 'Detergent']

### Remove items
- Use the method `remove` to remove an item

In [507]:
# To remove Yogurt because the dairy section is too far away from the vegetable section in the supermarket
shopping.remove("Yogurt") 
shopping

['Tomato', 'Onion', 'Garlic', 'Detergent']

### Insert items
- Use the method `insert(index, element)` to insert an element to a specific position (index) in a list

In [508]:
# To insert milk and yogurt because we realized we can walk to the dairy section before we shop for detergents
shopping.insert(3, "Yogurt")
shopping.insert(4, "Milk")
shopping

['Tomato', 'Onion', 'Garlic', 'Yogurt', 'Milk', 'Detergent']

### Replace items
- Lists are mutable, so we can modify its elements
- To do so, assign a new value to an element of the list (just like assigning a value to a variable)

In [509]:
# Instead of tomatoes, I want cherry tomatoes
shopping[0] = "Cherry Tomato"
shopping

['Cherry Tomato', 'Onion', 'Garlic', 'Yogurt', 'Milk', 'Detergent']

## Locating an element by value
- `index` locates elements and returns its index

In [510]:
# Suppose, instead of buying onions, we need shallots
#   but we don't remember where onions are in the list
shopping.index("Onion")

1

In [511]:
# Then we can replace it with shallots, but we can do this in one step
shopping[shopping.index("Onion")] = "Shallot"
shopping

['Cherry Tomato', 'Shallot', 'Garlic', 'Yogurt', 'Milk', 'Detergent']

### Lists do not restrict data types
- A list can contain anything as its elements

- Meaning it does not restrict data types or even structures

In [512]:
# A list of booleans, integers, floats, and strings
mixed_values = [False, True, 2, 3, 4.0, 5.6, "seven", "eighty_nine"]
mixed_values

[False, True, 2, 3, 4.0, 5.6, 'seven', 'eighty_nine']

In [513]:
# A list can contain lists
list_of_scores = [["Michael", 85], ["Yufeng", 71], ["Anita", 92]]
list_of_scores

[['Michael', 85], ['Yufeng', 71], ['Anita', 92]]

- In the above, the list of list has a clear value
    - each item is an *observation* (a row in the dataset, e.g., `["Yufeng", 71]`)
    - each element in an item is a cell that corresponds to a column (e.g., `"Yufeng"`)

- In this way, we can *represent* a data frame using a list, although doing tabular data operation this way is extremely cumbersome
    - I'll leave the point here and return to it next week

## Strings
- Strings are sequences of characters enclosed in quotes 
    - single, double, triple quotes; the type of quotes do not matter

- Similar to lists, strings are sequences, and the indexing/slicing/concatenation rules work similarly

- Different from lists, strings are immutable, meaning that parts of a string cannot be directly changed by assignment
    - instead, need specific functions to do it
    - will also introduce string-specific methods

In [514]:
# Creating a string
welcome = 'Welcome'
print(welcome)
this_class = "Programming for Analytics"
print(this_class)

Welcome
Programming for Analytics

### String concatentation, indexing, and slicing
- Concatenation with `+`
- Index starts with zero and indicated by brackets `[]`
- Slicing with `[start:stop:step]`
- Works exactly like lists

In [515]:
# Concatenation
greetings = welcome + "to" + this_class + "!"
print(greetings)

# Hmmm, how to fix this?

WelcometoProgramming for Analytics!

In [516]:
# Index
print(greetings[0])
print(greetings[5])

W
m

In [517]:
# Slicing
#   Suppose we want every other character until character 11 (i.e., 0, 2, 4, 6, 8, 10)
greetings[0:11:2]

# What if we want to find all characters after the first space?

'Wloeor'

In [518]:
# Strings are immutable
# greetings[0] = "w"  # how about changing the first letter into lower case?

### Case Conversion 

Converting string from lower to upper case or vice versa.

In [519]:
# Converting to lower case
lower = greetings.lower()
print(f"Lower Case: {lower}")

upper = greetings.upper()
print(f"Upper Case: {upper}")

Lower Case: welcometoprogramming for analytics!
Upper Case: WELCOMETOPROGRAMMING FOR ANALYTICS!

### Find and Replace

- The `find` method searches for a specified substring within a string and returns the lowest index where the substring is found.

- The `replace` method replaces occurrences of a specified substring with another substring.

In [520]:
# using find to search the word 'for'
str_f = greetings.find("for")
print(f"Index of 'for': {str_f}")

# use replace to replace the word class with course
str_r = greetings.replace("Programming", "Coding")
print(f"After replacing: {str_r}")

Index of 'for': 21
After replacing: WelcometoCoding for Analytics!

# Other data structures - Dictonary, Tuple, Sets

## Dictonary (Dict)

A dictionary is an unordered collection of key-value pairs. It is *mutable* and *indexed by keys*

- Because it is mutable and indexed, some of the operations above can be applied here
    - referencing an element
    - replacing an element

- Note that it is unordered, so it does not have numeric indices

- Note that it is indexed by keys, so keys must be unique

### Creating a dictonary
- Create a dictionary using `{"key": "value"}`

In [521]:
# Creating a dictionary - here 'name','age','city' are keys and 'Alice','25', 'Rochester' are values
person = {"name": "Alice", "age": 25, "city": "Rochester"}
person

{'name': 'Alice', 'age': 25, 'city': 'Rochester'}

### Accessing a value using a key
- Elements are index by key, not numeric indices
- So access the value by referring to the key

In [522]:
# Accessing a value by key
person["name"]

'Alice'

### Adding Items to dictonary
- One can add items by assigning a key-value pair

In [523]:
# one way to add items to dictonary
person["Program"] = "Analytics"
person

{'name': 'Alice', 'age': 25, 'city': 'Rochester', 'Program': 'Analytics'}

### Updating an Item in dictonary

In [524]:
# can assign new values to an existing key, replacing its existing values
person["Program"] = "MS Marketing Analytics"
person

# an alternative is to use the `update` method
# person.update({"Program": "MS Marketing Analytics"})

{'name': 'Alice',
 'age': 25,
 'city': 'Rochester',
 'Program': 'MS Marketing Analytics'}

### Deleting Items from Dictonary

In [525]:
# deleting an item from dictonary
del person["age"]
print(f"Deleting using just key: {person}")

# Another way to delete an item from dictonary using bothe the key-value pair
person.pop("city", "Rochester")
print(f"Deleting using key-value pair: {person}")

Deleting using just key: {'name': 'Alice', 'city': 'Rochester', 'Program': 'MS Marketing Analytics'}
Deleting using key-value pair: {'name': 'Alice', 'Program': 'MS Marketing Analytics'}

### Values in a dictionary can be anything, even lists
- In the example below, we'll see a way of representing tabular data using a dictionary

In [526]:
# Remember list_of_scores?
list_of_scores

[['Michael', 85], ['Yufeng', 71], ['Anita', 92]]

In [527]:
# Now construct a dictionary that stores (almost) the same info:
dict_of_scores = {"names": ["Michael", "Yufeng", "Anita"], "scores": [85, 71, 92]}
dict_of_scores

{'names': ['Michael', 'Yufeng', 'Anita'], 'scores': [85, 71, 92]}

## Tuple

A tuple is an ordered, immutable collection of items. Tuples can hold items of any data type.
- Because it is ordered, it is numerically indexed

- Because it is immutable, it cannot be altered once it is created

- Therefore, tuples are used to store data that need some level of protection

### Creating a Tuple
- Create a tuple using `(value1, value2)`

In [528]:
# A canonical example for tuples is coordinates
rochester = (43.1566, -77.6088)
rochester

(43.1566, -77.6088)

- Elements can be accessed by index, but cannot be modified 
    - the whole tuple can be deleted, but not its specific elements

In [529]:
lat_r = rochester[0]    # latitude
lon_r = rochester[1]    # longitude
print(lat_r, lon_r)

43.1566 -77.6088

In [530]:
# Can we modify rochester?
# rochester[0] = rochester[0] + 1

- Tuples can be used in combination with other data types
- For example: we can add every person's hometown and home coordinates

In [531]:
dict_of_scores = {"names": ["Michael", "Yufeng", "Anita"], 
                  "scores": [85, 71, 92],
                  "hometown": ["Chicago", "Rochester", "New York"],
                  "coordinates": [(41.8781, -87.6298), (43.1566, -77.6088), (40.7128, -74.0060)]}
dict_of_scores

{'names': ['Michael', 'Yufeng', 'Anita'],
 'scores': [85, 71, 92],
 'hometown': ['Chicago', 'Rochester', 'New York'],
 'coordinates': [(41.8781, -87.6298), (43.1566, -77.6088), (40.7128, -74.006)]}

## Sets

A set is an unordered collection of unique items. Sets are mutable and do not allow duplicate elements.

- Because it is unordered, we don't use sets to store elements which we need to locate

- Instead, sets are used to:
    - check whether an element is in a set, using the `in` operator
    - take intersections, unions, and differences

### Creating a Set
- Create a set using `{element1, element2, element3}`

In [532]:
# creating a set
random_set = {42, "galaxy", 3.14, 42, "apple"}
random_set

{3.14, 42, 'apple', 'galaxy'}

### Checking whether something is in the set
- Note: output is a boolean
- Note: `in` operator also works with lists and tuples

In [533]:
print(42 in random_set)
print("orange" in random_set)

True
False

### Adding and removing Elements to/from a Set

In [534]:
# adding elements to the set
random_set.add('python')
random_set

{3.14, 42, 'apple', 'galaxy', 'python'}

In [535]:
# using remove() method to remove an element
#   alternative: use the discard() method
random_set.remove('python')
print(random_set)

{'apple', 3.14, 42, 'galaxy'}

### Union, intersection, and differences between two sets
- The union of two sets contains all elements that belong to **either** set
- The intersection of two sets contains all elements that belong to **each** set
    - so, union is the boolean or operator `|`, and intersection is the and operator `&`
- The difference between set_1 and set_2 contains all elements that belong to set_1 but not set_2

In [536]:
# Consider the two sets
set_1 = {1, 2, 3, 4, 5}
set_2 = {2, 5, 0, 8, 6}

In [537]:
# union of two sets can be done using the or | operator (or the union() method)

# Using the | operator
union = set_1 | set_2
print(union)

# # alternative union() method
# union = set_1.union(set_2)
# print(f'Using Union function: {union}')

{0, 1, 2, 3, 4, 5, 6, 8}

In [538]:
# Intersection of two sets can be done using the & operator

# using the & operator
intersection = set_1 & set_2
print(intersection)

# # alternative: intersection() method
# intersection = set_1.intersection(set_2)
# print(f'Using Intersection method: {intersection}')

{2, 5}

In [539]:
# Difference between two sets can be done using the - operator

# using - operator
difference = set_1 - set_2
print(difference)

# # Alternative: using difference() method
# difference = set_1.difference(set_2)
# print(f'Using Difference method: {difference}')

{1, 3, 4}

## Summary
- We've talked about many different data types and structures

- Types
    - booleans
    - integers
    - floats
    - strings

- Structures
    - lists *(we mentioned strings because it is a sequence, and it shares some of lists' properties)*
    - dictionaries
    - tuples
    - sets

What are the connections between data structures?
- lists, tuples and strings are sequences, meaning they are numerically indexed and are sliceable
    - `my_sequence[0:5:2]`-- what does this mean?
    - `sequence_1 + sequence_2` -- what does this mean?
    - in contrast, dictionaries are indexed by element names, `my_dict["age"]`

- lists, dictionaries, and sets are mutable, meaning that elements can be modified
    - `my_list[0] = 3`
    - in contrast, tuples and strings are immutable, meaning that items cannot be modified by assignment

- suggest: prioritize understanding how lists work, but also know how other data structures work by contrasting them to lists

- sometimes, the same task can be done by different data structures

In [540]:
# the set function can be done by lists
my_unique_list = [0, 1, 2, 3]
4 in my_unique_list # use lists as a set

False

In [541]:
# but because lists do not have all the set properties, so cannot do this:
my_unique_list_1 = [0, 1, 2, 3]
my_unique_list_2 = [4, 2, 0, 5]
# 1 in my_unique_list_1 - my_unique_list_2

# how to modify this?